<section class="container-fluid">
    <div class="row no-gutters">
        <div class="col-11 jumbotron text-center mx-auto">
        	<div class="col-4 mx-auto">
        		<img class="img-fluid" src="/camping.png">
            </div>
            <div class="col-8 mx-auto">
                <!--<h1>Welcome to Yelpcamp</h1>-->
                <p class="trending-description"><b>See and rate outdoor camps from all around the world</b></p>
                <% if(user) { %>
                <a href="/home/newcamp"><button class="btn btn-lg btn-outline-secondary">Add new camp <i class="fa fa-plus"></i></button></a>
                <% } %>
            </div>
        </div>
    </div>
</section>