<!--Partials footer pour le projet yelpcamp
    Date dernière modification: 2018/01/08
-->
<footer>
    <section class="container-fluid">
        <div class="col-10 mx-auto text-center">
            <!--<h3>Follow Us!</h3>-->
            <hr />
            <ul class="social-list">
                <li class="social-item"><a href="#" class="social-icon"><i class="fa fa-facebook-official fa-2x"></a></i></li>
                <li class="social-item"><a href="#" class="social-icon"><i class="fa fa-twitter fa-2x"></a></i></li>
                <li class="social-item"><a href="#" class="social-icon"><i class="fa fa-youtube fa-2x"></a></i></li>
                <li class="social-item"><a href="#" class="social-icon"><i class="fa fa-pinterest fa-2x"></a></i></li>
                <li class="social-item"><a href="#" class="social-icon"><i class="fa fa-behance fa-2x"></a></i></li>
            </ul>
            <p><i class="fa fa-copyright"></i> <a href="#"><b>Samuel Dubé</b></a> 2017<br/>All right reserved</p>
        </div>
    </section>
</footer>