<!--Partials header pour le projet yelpcamp
    Date dernière modification: 2018/01/08
-->
<head>
    <title>YelpCamp</title>
    <link type="text/css" rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/label.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/rating.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/icon.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/popup.min.css" />
    <script src="https://use.fontawesome.com/987e1c6fd3.js"></script>
</head>