<!--    Auteur: Samuel Dubé
        Date de création: 2018/01/02
        Date dernière modification: 2018/01/08
        Description: Site Web simillaire à Yelp mais portant sur les camps
        en plein air.
-->
<!DOCTYPE html>

<html lang="fr">
    <% include partials/header %>
    <body>
        <img src="camp12.jpg" id="accueil-bg">
        <div class="container-fluid" id="accueil-menu">
            <div id="accueil-container">
            <h1>Welcome to YelpCamp!</h1>
            <hr />
            <a href="/home"><button class="btn btn-outline-success btn-lg">Enter <i class="icon right chevron"></i></button></a>
            </div>
        </div>
    </body>
</html>